div.tableDiv {
  padding: 50px 100px 50px 100px;
}

.imgTable3 {
  width: 200px;
  height: 150px;
}

.table {
}

.table thead th {
  text-align: center;
  vertical-align: middle;
}

.table td,
.table th {
  text-align: center;
  vertical-align: middle;
}
